/* styles.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

nav {
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

nav ul li a:hover {
  background-color: #555;
}

/* Estilos específicos de las páginas */

/* Formularios */
form#eliminarForm,
form#modificarForm,
button#mostrarTodoBtn,
#registros p,
form#registroForm {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button#mostrarTodoBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#registros {
  max-width: 600px;
}

#registros p {
  margin: 10px 0;
}

/* Registrar */
form#registroForm {
  background-image: url('burbujas.png'); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
}
form#registroForm input[type="text"],
form#registroForm input[type="email"],
form#registroForm input[type="tel"],
form#eliminarForm input[type="text"],
form#eliminarForm input[type="email"],
form#eliminarForm input[type="tel"],
form#modificarForm input[type="text"],
form#modificarForm input[type="email"],
form#modificarForm input[type="tel"],
button#mostrarTodoBtn {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #f9f9f9;
  color: #333;
}

form#registroForm input[type="text"]:focus,
form#registroForm input[type="email"]:focus,
form#registroForm input[type="tel"]:focus,
form#eliminarForm input[type="text"]:focus,
form#eliminarForm input[type="email"]:focus,
form#eliminarForm input[type="tel"]:focus,
form#modificarForm input[type="text"]:focus,
form#modificarForm input[type="email"]:focus,
form#modificarForm input[type="tel"]:focus,
button#mostrarTodoBtn:focus {
  outline: none;
  border-color: #4CAF50;
}

button#mostrarTodoBtn {
  background-color: #4CAF50;
  color: #fff;
}

form#registroForm button[type="button"],
form#eliminarForm button[type="button"],
form#modificarForm button[type="button"] {
  padding: 10px 20px;
  background-color: #ff8c00;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form#registroForm button[type="button"]:hover,
form#eliminarForm button[type="button"]:hover,
form#modificarForm button[type="button"]:hover {
  background-color: #ff6a00;
}

#sugerenciasCiudad {
  display: none;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 5px;
  max-height: 150px;
  overflow-y: auto;
}

#sugerenciasCiudad p {
  cursor: pointer;
  padding: 5px;
}

#sugerenciasCiudad p:hover {
  background-color: #f4f4f4;
}

/* Estilos adicionales para Mostrar Todo */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ff6a00;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ff8c00;
}

#registrosContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.genero-container {
  background-color: #f9f9f9;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.genero-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genero-buttons label {
  margin-right: 10px;
}

.genero-buttons input[type="radio"] {
  margin-right: 5px;
}
